<div class="links">
<h1>Related Projects</h1>

<!-- LEDCube -->
<div class="link">
<a class="active" href="//hotwolf.github.io/LEDCube">
<h1>LEDCube</h1>
Arduino controlled 4x4x4 LED cube
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CBase">
<h1>S12CBase</h1>
Basic application framework
</a>
</div><!--<div id="link">-->

<!-- S12CForth -->
<div class="link">
<a class="active" href="//hotwolf.github.io/S12CForth">
<h1>S12CForth</h1>
ANS Forth
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
